//Fonts
$fontHeaders: 'Russo One', sans-serif;

//Colors
$black: #000000;
$grey1: #eee;
$grey2: #aaa;
$grey12: #444444;
$red: rgb(226,46,19);
$redDark: rgb(180,46,19);
$white: #fff;

html, body, .wrapper{
    background-color: $black;
}

.wrapper{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:0;
}

.wrapper td{
    vertical-align:middle;
    text-align:center;
}

.centerLogo{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:295px;
    margin-top:-175px;
    margin-left: -197px;
}

.trailer1{
    display:inline-block;
    margin:10px;
}

.trailer2{
    display:inline-block;
    margin:10px;
}

.trailer3{
    display:inline-block;
    margin:10px;
}


/*Buttons*/
button{
   font-family: $fontHeaders;
}

.buttonArray{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:100px;        
    margin-left:-240px;
}

.btn{
    background-color: $red;
    color: $white;
    letter-spacing:2px;
    font-size: 1.1em;
}

.btn:hover{
    background-color: $redDark;
}

a {
    color: $white;
    text-decoration:none;
}

a:hover{
    color: $grey2;
    letter-spacing:2px;
    text-decoration:none; 
}

a:active{
    color: $grey2;
    letter-spacing:2px;
    text-decoration:none; 
}

a:visited{
    color: $white;
    letter-spacing:2px;
    text-decoration:none; 
}

/*Modal*/
.modal{
    text-align: center!important;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal-content{
    border: 0;
}

.modal-body{
    background-color: $grey12;
}