//Fonts
$fontHeaders: 'Russo One', sans-serif;

//Colors
$black: #000000;
$grey1: #eee;
$grey2: #aaa;
$red: rgb(226,46,19);
$redDark: rgb(180,46,19);
$white: #fff;

html, body, .wrapper{
    background-color: $black;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:0;
}

.wrapper td{
    vertical-align:middle;
    text-align:center;
}

.centerLogo{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:295px;
    margin-top:-175px;
    margin-left: -197px;
}

button{
   font-family: $fontHeaders;
}

.trailer1{
    /*position:absolute;
    top:50%;
    left:45%;*/
    display:inline-block;
    margin:10px;
}

.trailer2{
    /*position:absolute;
    top:50%;
    left:30%;*/ 
    display:inline-block;
    margin:10px;
}

.trailer3{
    /*position:absolute;
    top:50%;
    left:60%;*/
    display:inline-block;
    margin:10px;
}

.buttonArray{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:100px;        
    margin-left:-240px;
}

.btn{
     background-color: $red;
     font-size: 1.25em;
     color: $white;
}

.btn:hover{
    background-color: $redDark;
}

a {
    color: $white;
    letter-spacing:2px;
    text-decoration:none;
}

a:hover{
    color: $grey2;
    letter-spacing:2px;
    text-decoration:none; 
}

a:active{
    color: $grey2;
    letter-spacing:2px;
    text-decoration:none; 
}

a:visited{
    color: $white;
    letter-spacing:2px;
    text-decoration:none; 
}