html, body {
  background-color: #000000;
  /* Fix for Google fonts colored White*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif; }

.container-fluid {
  padding: 0;
  margin: 0; }

.inlineBlock {
  display: inline-block; }

.parent {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0; }

.section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative; }

.screen1 {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
  background: url("../images/tekken_wallpapers.jpg") no-repeat center center;
  background-attachment: ccover; }

.screen2 {
  background: url("../images/tekken-2-yoshimitsu.jpg") no-repeat center center;
  background-attachment: cover; }

.screen3 {
  background: url("../images/tekken3.jpg") no-repeat center center;
  background-attachment: cover; }

.centerLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 295px;
  margin-top: -150px;
  margin-left: -200px;
  -moz-filter: drop-shadow(5px 5px 9px #ffffff);
  -ms-filter: drop-shadow(5px 5px 9px #ffffff);
  -webkit-filter: drop-shadow(5px 5px 9px #ffffff);
  -webkit-filter: drop-shadow(5px 5px 9px #ffffff);
  filter: drop-shadow(5px 5px 9px #ffffff); }

.trailer1 {
  display: inline-block;
  margin: 10px; }

.trailer2 {
  display: inline-block;
  margin: 10px; }

.trailer3 {
  display: inline-block;
  margin: 10px; }

/*Buttons*/
button {
  font-family: "Russo One", sans-serif; }

.buttonArray {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -247px;
  margin-top: 80px; }

.btn {
  background-color: #e22e13;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.1em;
  border-radius: 0; }

.trailerButton:hover {
  background-color: #b42e13; }

btn:hover {
  color: #aaa;
  /*letter-spacing:1px;*/
  text-decoration: none; }

btn:active {
  color: #aaa;
  letter-spacing: 1px;
  text-decoration: none; }

btn:visited {
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none; }

/*Buttons End*/
/*Modal*/
.modal {
  text-align: center !important;
  padding: 0 !important;
  margin: 0; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -80px; }

.modal-dialog {
  display: inline-block;
  vertical-align: middle; }

.modal-content {
  border: 0;
  width: 680px;
  background-color: transparent;
  -webkit-box-shadow: 0 5px 15px transparent;
  -moz-box-shadow: 0 5px 15px transparent;
  -o-box-shadow: 0 5px 15px transparent;
  box-shadow: 0 5px 15px transparent;
  margin: 0;
  padding: 0; }

.modal-header {
  width: 680px;
  color: #ffffff;
  border: 0; }

.close {
  color: #ffffff;
  font-size: 1.5em;
  opacity: 1;
  margin-top: 10px; }

.modal-backdrop {
  background-color: #000000;
  opacity: 0.7 !important; }

.modal-body {
  background-color: transparent;
  box-shadow: 0; }

/*Modal End*/
/*Navbar*/
.navbar {
  min-height: 0 !important;
  z-index: 400;
  line-height: 50px; }

.systemLogo {
  width: 100px;
  margin-right: 18px;
  display: inline-block; }

.ps3 {
  width: 70px !important;
  margin-right: 18px;
  display: inline-block; }

.navbar > button {
  float: right;
  background-color: #444444; }

.navbar-header {
  float: none;
  background-color: rgba(40, 40, 40, 0.75);
  padding: 10px 30px 10px 30px; }

.navbar-toggle {
  display: block;
  margin: 0;
  padding: 0; }

.navbar-collapse.collapse {
  display: none !important; }

.hamburgerText, .glyphicon-menu-hamburger {
  font-size: 1.5em;
  color: #ffffff; }

.navbarLink {
  text-align: center;
  background-color: #e22e13;
  z-index: 30;
  padding: 5px;
  width: 300px;
  border: 1px solid #444444;
  color: #ffffff;
  font-family: "Russo One", sans-serif;
  font-size: 1.3em;
  letter-spacing: 2px; }

.navbarLink:hover, .navbarLink:active {
  color: #444444;
  background-color: #b42e13; }

.navbarLogo {
  max-width: 290px;
  margin-right: 30px;
  display: none; }

/*Navbar End*/
.news {
  top: 100px;
  background-color: rgba(34, 34, 34, 0.8);
  color: #ffffff; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */